.linkImage {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.portraitImage {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.gameplayImage {
    height: 300px;
    margin-bottom: 3px;
}

.link {
    text-decoration: none;
}


@media screen and (min-width: 0px) {
    .projectText {
        margin-top: 5px;
        text-align: center;
    }

    .projectText ul {
        list-style: none;
    }
}

@media screen and (min-width: 576px) {
    .projectText {
        margin-top: 5px;
        text-align: center;
    }

    .projectText ul {
        list-style: none;
    }
}

@media screen and (min-width: 768px) {
    .projectText {
        margin-top: 5px;
        text-align: center;
    }

    .projectText ul {
        list-style: none;
    }
}

@media screen and (min-width: 992px) {
    .projectText {
        margin-top: 5px;
        text-align: center;
    }

    .projectText ul {
        list-style: none;
    }
}

@media screen and (min-width: 1200px) {
    .projectText {
        text-align: left;
        text-decoration: none;
    }
}